header, footer {
  margin: 2rem auto 1rem;
}

input {
  padding: 1rem;
  width: 30vw;
}

hr {
  margin-bottom: 2rem;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;

  span {
    visibility: hidden;
  }

  &.active {
    color: lightblue;

    span {
      visibility: visible;
    }
  }
}

tbody tr:hover {
  background-color: lightblue;
}