<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Find your player</h1>
  <hr>
</div>
<ul class="players">
  <li class="player" *ngFor='let player of players$'>{{ player.name }} - {{ player.team.name }} - {{ player.age }} - {{ player.goals }} - {{ player.yellowCards }} - {{ player.redCards }}</li>
</ul>
<div class="pagination">
  <button ng-click="prev()" class="pagination__prev">Prev</button>
  <button ng-click="next()" class="pagination__next">Next</button>
</div>
<router-outlet></router-outlet>
